@import '/globals.less';

@nav-height: 60px;

.navbar {
    position   : sticky;
    top        : 0;
    display    : block;
    font-size  : @big-font-size;
    background : @nav-bar-color;
    height     : @nav-height;
    line-height: @nav-height;

    .logo {
        vertical-align: middle;
        height        : @nav-height / 2;
    }

    .right-section {
        float: right;
    }

    +div {
        height: calc(100% - @nav-height);
    }
}