@import '/navbar.less';

html,
body {
    margin   : 0;
    padding  : 0;
    font-size: @font-size;
}

body {
    background-color: @font-color;
}

.container {
    padding: 0 24px;
}

.btn {
    user-select     : none;
    display         : inline-block;
    background-color: @light-blue;
    color           : white;
    cursor          : pointer;
    line-height     : @font-size;
    font-size       : 17px;
    padding         : 5px 15px;
    margin-left     : 10px;
    border-radius   : 10px;
}

.btn:active {
    transform: scale(0.975);
}